<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="text-uppercase">
        <h1>TEAMS</h1>
      </div>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="background">
  

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group"  >
      <a
        [routerLink]="['/home', group.groupId]"
        class="p-1 mb-1 bg-light text-dark"
        
       *ngFor="let group of groups"
      >
         {{ group.name }}
      </a>
    </div>
  </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
